header {
    background-color: #EFE2D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 96px;

    img {
        height: 77px;
        width: auto;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        color: #707070;
        transition: all 0.3s ease;

        a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #545454;
            }
        }
    }
}
.button {
    font-size: 16px;
    color: white;
    background-color: #E3CCBA;
    border: none;
    padding: 12px 20px;
    cursor: pointer;

    &:hover {
        background-color: #ccb7a9;
    }
}
.primary_section {
    background-image: url("images/Asset 16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #EFE2D9;
    display: flex;
    align-items: center;

    div {
        padding-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        h1 {
            font-size: 48px;
            font-family: "Gloock", serif;
        }

        span {
            font-size: 24px;
        }
    }
}
.description_section {
    background-color: #EFE2D9;
    position: relative;
    padding: 0 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;

    div {
        padding: 64px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;

        h2, h3 {
            font-family: "Gloock", serif;
        }

        h2 {
            font-size: 32px;
        }

        p {
            line-height: 25px;
        }
    }

    img {
        right: 96px;
        position: absolute;
        height: 450px;
        width: auto;
    }
}