header {
    background-color: #EFE2D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 96px;

    img {
        height: 77px;
        width: auto;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        color: #707070;
        transition: all 0.3s ease;

        a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #545454;
            }
        }
    }
}
.button {
    font-size: 16px;
    color: white;
    background-color: #E3CCBA;
    border: none;
    padding: 12px 20px;
    cursor: pointer;

    &:hover {
        background-color: #ccb7a9;
    }
}
.primary_section {
    background-image: url("images/Asset 16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: #EFE2D9;
    display: flex;
    align-items: center;

    div {
        padding-left: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        h1 {
            font-size: 48px;
            font-family: "Gloock", serif;
        }

        span {
            font-size: 24px;
        }
    }
}
.description_section {
    background-color: #EFE2D9;
    position: relative;
    padding: 0 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;

    div {
        padding: 64px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;

        h2, h3 {
            font-family: "Gloock", serif;
        }

        h2 {
            font-size: 32px;
        }

        p {
            line-height: 25px;
        }
    }

    img {
        right: 96px;
        position: absolute;
        height: 450px;
        width: auto;
    }
}
.rules_section {
    padding: 64px 96px;
    background-color: #FAF6F3;

    h2 {
        font-family: "Gloock", serif;
        font-size: 32px;
        padding-bottom: 12px;
    }

    span {
        font-size: 18px;
        font-weight: 500;

    }

    .rules {
        padding-top: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;

        .rule {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 12px;

            img {
                height: 150px;
                width: 150px;
            }

            p {
                font-weight: 500;
            }
        }
    }
}
.cats_section {
    min-height: 100vh;
    background-color: #EFE2D9;

    .cats_wrapper {
        padding: 96px;
    }

    h2 {
        font-family: "Gloock", serif;
        font-size: 32px;
        padding-bottom: 64px;
        text-align: center;
    }

    .cats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 48px;

        .cat {
            width: min-content;

            img {
                height: 300px;
                width: auto;
            }

            div {
                height: 100px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 24px;
                margin-top: -4px;
                background-color: #E6CDB9;
                text-align: center;

                h2 {
                    font-size: 24px;
                    padding: 0;
                }
            }
        }
    }
}
.additional-information_section {
    background-color: #E6CDB9;
    padding-bottom: 32px;

    .additional-information_wrapper {
        padding: 0 96px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;

        div {
            padding: 48px 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 24px;

            h2, h3 {
                font-family: "Gloock", serif;
            }

            h2 {
                font-size: 32px;
            }

            p {
                line-height: 25px;
            }
        }

        figure {
            background-color: #EFE2D9;
            margin-top: 24px;
            justify-self: end;
            border-top-left-radius: 250px;
            border-top-right-radius: 250px;

            img {
                padding: 24px 24px 0 24px;
                height: 300px;
                width: auto;
            }
        }
    }

    .contacts {
        padding: 24px 96px;
        background-color: #FAF6F3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            text-align: center;

            &:hover {
                color: #545454;
            }
        }
    }

    @media screen and (max-width: 950px) {
        .additional-information_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

        img {
            height: 50%;
            width: min-content;
        }
    }
    @media screen and (max-width: 670px) {
        .additional-information_wrapper {
            figure img {
                height: 200px;

            }
        }

        .contacts {
            grid-template-columns: 1fr 1fr;

            .logo {
                grid-row: 1;
                grid-column: 1/3;
            }
        }
    }
}